DB_DRIVER=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# One of: validate, update, dropcreate, none. Default: validate
ORM_DBCREATE=validate

SERVEPOINT_AUTO_SEED=true/false/blank
SERVEPOINT_DOCUMENT_STORAGE_ROOT=/app/uploads/documents
SERVEPOINT_STORAGE_PERSISTENT=true/false
